<div class="container" id="home-container">
  <div class="jumbotron p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5 text-center text-white">
      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button class="btn btn-primary me-md-2" type="button">Register</button>
        <button class="btn btn-primary" type="button">Login</button>
      </div>
    </div>
  </div>
</div>
